<div class="user-container">
  <div class="container" style="padding-bottom: 104px;">
    <div
      style="margin: 0 auto;width: 100%;text-align: center;height: 50px;line-height: 50px;font-size: 18px;font-weight: bold;color: #666666;position: relative;">
      购买优水到家PLUS会员
      <span style="position: absolute;left: 20px;" (click)="goTo()"><i class="anticon anticon-left"></i></span>
    </div>
    <div>
      <!--开通服务-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          开通服务
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;">
          PLUS会员
        </div>
      </div>
      <!--付款方式-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          付款方式
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;">
          <img src="../../../../assets/icon/wechatIcon.png" style="width: 40px;height: 40px;">
        </div>
      </div>
      <!--有效时间-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          有效时间
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 16px;">
          1个月
        </div>
      </div>
      <!--金额-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          付款金额
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;color: #CD2626;">
          ¥{{vipMoney}}
        </div>
      </div>
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;margin-top: 10px;">
      <span style="margin-left: 20px;margin-right: 20px;font-size: 12px;"><span style="color: red">*</span>会员开通后，您在已开通的服务期内中途取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。</span>
      <button nz-button nzType="primary" style="width: 144px;letter-spacing: 4px" (click)="vipBuy()">立即购买</button>
    </div>
  </div>
</div>


