<div class="user-container">
  <div class="container" style="padding-bottom: 104px;">
    <div
      style="margin: 0 auto;width: 100%;text-align: center;height: 50px;line-height: 50px;font-size: 18px;font-weight: bold;color: #666666;position: relative;">
      购买优水到家PLUS会员
      <span style="position: absolute;left: 20px;" (click)="goTo()"><i class="anticon anticon-left"></i></span>
    </div>
    <div>
      <!--地址-->
      <!--<div style="background-color:white;margin-right: 20px;position: relative;width: 100%;padding-right: 26px;" *ngIf="this.vipValidity === '2'">-->
        <!--<div *ngIf="!addressFalse"-->
             <!--style="height:64px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;padding-top: 8px;color: #949494">-->
          <!--<div style="margin-right: 20px;height: 64px;padding-left: 26px;">-->
            <!--<div style="height: 26px;width: 100%;line-height: 26px;">-->
              <!--<div style="float:left;">收货人：{{consignee}}</div>-->
              <!--<div style="float: right;">{{iphone}}</div>-->
            <!--</div>-->
            <!--<div style="height: 38px;width: 100%;">配送地址：{{address}}</div>-->
          <!--</div>-->
          <!--<div-->
            <!--style="width: 20px;height: 64px;position: absolute;top: 0;right: 0;line-height: 64px;text-align: center;color: #949494;font-size: 18px;">-->
            <!--<i class="anticon anticon-right" (click)="showModal()"></i>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div *ngIf="addressFalse">-->
          <!--<div-->
            <!--style="width: 120px;height: 64px;position: absolute;top: 0;left: 0;line-height: 64px;text-align: center;color: #949494;font-size: 18px;">-->
            <!--配送地址-->
          <!--</div>-->
          <!--<div-->
            <!--style="margin-left: 120px;height: 64px;text-align: right;line-height: 64px;font-weight: bold;font-size: 18px;">-->
            <!--<button nz-button nzType="primary" (click)="showModal()">-->
              <!--<span>请填写配送地址</span>-->
            <!--</button>-->
          <!--</div>-->
        <!--</div>-->

      <!--</div>-->

      <!--&lt;!&ndash;modal&ndash;&gt;-->
      <!--<nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"-->
                <!--[nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">-->
        <!--<ng-template #modalTitle>-->
          <!--请填写配送地址-->
        <!--</ng-template>-->
        <!--<ng-template #modalContent>-->
          <!--<input nz-input placeholder="收货人" [(ngModel)]="inConsignee" style="margin-bottom: 10px;">-->
          <!--<input nz-input placeholder="联系方式" [(ngModel)]="inIphone" style="margin-bottom: 10px;">-->
          <!--<input nz-input placeholder="详细地址" [(ngModel)]="inAddress">-->

        <!--</ng-template>-->
        <!--<ng-template #modalFooter>-->
          <!--<button nz-button nzType="default" (click)="handleCancel()">取消</button>-->
          <!--<button nz-button nzType="primary" (click)="handleOk()">保存</button>-->
        <!--</ng-template>-->
      <!--</nz-modal>-->
      <!--<div style="color: red;width: 100%;text-align: center;" *ngIf="allAddress"><span><i class="anticon anticon-close-circle" style="color: red;margin-right: 8px;"></i></span>请输入完整配送信息!</div>-->
      <!--开通服务-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          开通服务
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;">
          PLUS会员
        </div>
      </div>
      <!--付款方式-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          付款方式
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;">
          <img src="../../../../assets/icon/wechatIcon.png" style="width: 40px;height: 40px;">
        </div>
      </div>
      <!--有效时间-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          有效时间
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 16px;">
          1个月
        </div>
      </div>
      <!--金额-->
      <div
        style="height:56px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 56px;position: absolute;top: 0;left: 0;line-height: 56px;text-align: center;color: #949494;font-size: 18px;">
          付款金额
        </div>
        <div
          style="margin-left: 120px;height: 56px;text-align: right;line-height: 56px;font-weight: bold;font-size: 18px;color: #CD2626;">
          ¥{{vipMoney}}
        </div>
      </div>
    </div>
    <div style="display: flex;flex-direction: column;align-items: center;margin-top: 10px;">
      <!--<div style="width: 168px;">-->
      <!--<ul>-->
      <!--<li><input (click)="checkBox()" type="checkbox" aria-label="..." [checked]="isConfirm" class="checkA">我已阅读并接受服务协议</li>-->
      <!--<li><input (click)="disCheckBox()" type="checkbox" aria-label="..." [checked]="disConfirm">我不接受服务协议</li>-->
      <!--</ul>-->
      <!--</div>-->
      <!--<button nz-button nzType="primary" [disabled]="!isConfirm" style="width: 144px;letter-spacing: 4px" (click)="vipBuy()">立即购买</button>-->
      <span style="margin-left: 20px;margin-right: 20px;font-size: 12px;"><span style="color: red">*</span>会员开通后，您在已开通的服务期内中途取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。</span>
      <button nz-button nzType="primary" style="width: 144px;letter-spacing: 4px" (click)="vipBuy()">立即购买</button>
    </div>
  </div>
</div>


