.title {
  margin: 5px;
}

.user-container {
  position: absolute;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
  background: white;
  /*background: url("../../../../assets/main/bs-bg.jpg");*/
  /*background-size: 150% 100%;*/
}

.container {
  width: 100%;
}

.bannerContainer {
  text-align: center;
  width: 100%;
  /*height: 200px;
  line-height: 200px;
  background: #364d79;*/
  color: #fff;
  overflow: hidden;
  position: relative;
}

.bannerContainer .bannerPicList, .bannerContainer .bannerPicList li {
  width: 100%;
  height: 100%;
}

.bannerBtnList {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.bannerBtnList ul {
  width: fit-content;
  margin: 0px auto;
  text-align: center;
}

.bannerBtnList li {
  list-style: none;
  float: left !important;
  margin: 0px 5px;
}

.bannerContainer .bannerBtnList span {
  height: 8px;
  width: 8px;
  margin: 2px 0px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}

.bannerContainer .bannerBtnList span.picBtn {
  height: 12px !important;
  width: 12px !important;
  margin: 0px !important;
  border-radius: 6px !important;
}

h3 {
  color: #fff;
}

.ant-carousel .slick-dots li button {
  width: 4px !important;
  height: 4px !important;
}

.gutter-example {
  margin: 10px;
}

.gutter-box {
  margin-bottom: 5px;
  /*height: 210px;
  line-height: 20px;*/
  text-align: center;
  border-radius: 2px;
  background-color: rgba(244, 244, 244, 1);
  border: 1px solid rgba(244, 244, 244, 1);
}

.gutter-row-text {
  margin-left: 5px;
  margin-bottom: 0;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.gutter-row-span {
  margin-left: 5px;
  margin-bottom: 0;
  color: red;
}

.gutter-row-icon {
  margin-right: 5px;
  float: right;
}

.goodsPrice {
  padding: 1px 0;
  display: inline-block;
  color: red
}

.goodsIcon {
  background: #f34348;
  color: #fcffff;
  display: inline-block;
  position: absolute;
  right: 0px;
  padding: 1px 8px;
  padding-right: 5px;
  border-radius: 12px
}

.gutter-boxs {
  height: 50px;
}

.box-img {
  width: 100%;
  display: block;
  /*height: 50%;
  margin-top: 45px;*/
}
