.title {
  margin: 5px;
}
.user-container {
  position: absolute;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
  background: #efefef;
  /*background: url("../../../../assets/main/bs-bg.jpg");*/
  /*background-size: 150% 100%;*/
}
.container {
  width: 100%;
}
[nz-carousel-content] {
  text-align: center;
  /*height: 200px;
  line-height: 200px;
  background: #364d79;*/
  color: #fff;
  overflow: hidden;
}
/*.bannerContainer {
  text-align: center;
  width: 100%;
  !*height: 200px;
  line-height: 200px;
  background: #364d79;*!
  color: #fff;
  overflow: hidden;
  position: relative;
}
/*
.bannerContainer .bannerPicList, .bannerContainer .bannerPicList li {
  width: 100%;
  height: 100%;
}

.bannerBtnList {
  position: absolute;
  bottom: 20px;
  width: 100%;
}

.bannerBtnList ul {
  width: fit-content;
  margin: 0px auto;
  text-align: center;
}

.bannerBtnList li {
  list-style: none;
  float: left !important;
  margin: 0px 5px;
}

.bannerContainer .bannerBtnList span {
  height: 8px;
  width: 8px;
  margin: 2px 0px;
  background-color: #FFFFFF;
  display: block;
  border-radius: 4px;
  cursor: pointer;
}
.bannerContainer .bannerBtnList span.picBtn {
  height: 12px !important;
  width: 12px !important;
  margin: 0px !important;
  border-radius: 6px !important;
}*/
.firstNav{
  background: #FFFFFF;
  margin-bottom: 10px;
  width: 100%;
}
.firstNav ul{
  width: 100%;
  margin: 0px!important;
}
.firstNav ul li {
  float: left;
  width: 25%;
  margin: 15px 0px;
}
.clear-fix{
  clear: both;
}
.firstNav ul li img{
  display: block;
  width: 60px;
  height: 60px;
  margin: 0 auto;
}
.firstNav ul li span{
  display: block;
  width: 100%;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  color: #000;
}
.firstList{
  /*background: #ffffff;*/
  width: 100%;
}
.listTitle{
  width: 100%;
  padding-left: 15px;
  height: 40px;
  line-height: 40px;
  border-bottom: #efefef 1px solid;
  border-top: #efefef 1px solid;
  background: #FFFFFF;
}
.title_img{
  background: url("../../../../assets/icon/firstIcon/icon-line.png") no-repeat;
  background-size: 4px 24px;
  padding-left: 10px;
  font-weight: 500;
  font-size: 16px;
}
.listContent{
  width: 100%;
  background: #efefef;
}
.listContent .list{
  background: #FFFFFF;
  width: 100%;
  height: 130px;
  margin-bottom: 10px !important;
  padding: 10px 15px;
}
.list_goods_name{
  font-weight: 500;
  font-size: 16px;
  color: #000;
}
.span-text{
  font-weight: 500;
  font-size: 12px;
  display: block;
}
.span-price{
  color: red;
  font-weight: 500;
  font-size: 18px;
  display: inline-block;
}
