<div class="user-container">
  <div class="container">
    <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of array"><img style="width: 100%;height: 100%" [src]="index" alt=""></div>
    </nz-carousel>
  </div>
  <div class="gutter-example">
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzSpan="12" *ngFor="let item of list">
        <div class="gutter-box">
          <img class="box-img" [src]="imgUrl+item.pic" alt="">
        </div>
        <p class="gutter-row-text">{{item.name || '无名字'}}</p>
        <span class="gutter-row-span">￥{{item.salesPrice}}</span>
        <span class="gutter-row-icon"><img width="20px" height="20px" src="../../../../assets/icon/addCar.png" alt=""></span>
      </div>

      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->
      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->

      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->

      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->
      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->
      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->
      <!--<div nz-col class="gutter-row" nzSpan="12">-->
        <!--<div class="gutter-box">-->
          <!--<img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">1234555</p>-->
        <!--<span class="gutter-row-span">$80</span>-->
      <!--</div>-->
    </div>
    <!--footer-->
    <div style="width: 100%;height: 50px"></div>
  </div>
</div>
