<div class="user-container">
  <div class="container">
    <div class="form_header">
      <h2 id="logo">优水到家</h2>
    </div>
    <div class="signup_forms">
      <!--<div id="signup_forms_container" class="signup_forms_container">-->
        <!--<form class="signup_form_form" id="sign_form" method="post" action="checklogin.jsp">-->
          <!--<div class="signup_account" id="signup_account">-->
            <!--<div class="form_user">-->
              <!--<input type="text" name="phone" placeholder="手机号" id="signup_email">-->
            <!--</div>-->
            <!--<div class="form_password">-->
              <!--<input type="text" name="code" placeholder="验证码" id="signup_password">-->
            <!--</div>-->
          <!--</div>-->
        <!--</form>-->
      <!--</div>-->
      <div>
        <nz-input-group nzSize="default" [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input placeholder="请输入手机号" [(ngModel)]="username" name="username">
        </nz-input-group>
        <ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="username=null" *ngIf="username"></i></ng-template>

        <!--<nz-input-group style="margin-top: 10px" nzSize="large" [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-mail">-->
          <!--<input type="text" nz-input placeholder="请输入验证码" [(ngModel)]="username" name="username">-->
        <!--</nz-input-group>-->
        <!--<ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="username=null" *ngIf="username"></i></ng-template>-->
        <!--<button nz-button nzType="primary" (click)="send()" [nzLoading]="isLoading">{{text}}{{endText}}</button>-->

        <nz-input-group style="margin-top: 10px" nzSearch nzSize="default" [nzSuffix]="suffixButton" nzPrefixIcon="anticon anticon-mail">
          <input type="text" nz-input placeholder="请输入验证码" [(ngModel)]="username" name="username">
        </nz-input-group>
        <ng-template #suffixButton>
          <button (click)="send()" nz-button nzType="primary" nzSize="default" nzSearch [nzLoading]="isLoading">{{text}}</button>
        </ng-template>
      </div>
      <button type="button" id="signup_forms_submit"><span><strong>登陆</strong></span></button>
    </div>
  </div>
</div>
