<div class="search-container">
  <div class="search-header">
    <div class="search-input">
      <input type="text"><span>取消</span>
    </div>
    <div class="search-title">
      <img src="../../../../assets/icon/hot.png" alt="" width="10">
      <img src="../../../../assets/icon/hot-search.png" alt="" width="50">
    </div>
    <article class="search-art">
      <ul style="display: -webkit-box;">
        <li>123 </li>
        <li>444 </li>
        <li>555 </li>
      </ul>
    </article>
  </div>
  <div class="search-history">
    <div class="search-title">
      <img src="../../../../assets/icon/history.png" alt="" width="10">
      <img src="../../../../assets/icon/history-s.png" alt="" width="50">
    </div>
    <ul class="history">
      <li>123</li>
      <li>444</li>
      <li>555</li>
    </ul>
    <div class="search-title">
      <img src="../../../../assets/icon/del.png" alt="" width="11">
      <img src="../../../../assets/icon/del-s.png" alt="" width="70">
    </div>
  </div>
</div>
