.icon-img{
  width:18px;
  height:18px;
  transition: all 0.4s;
}
.icon-img-last{
  width:14px;
  height:14px;
  transition: all 0.4s;
}
.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background: white;
}
.footer-btn{
  border-top: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  text-align: center;
  padding-top: 2px;
}
.footer-btn:last-child{
  border-top: 1px solid #d9d9d9;
  border-right: 0 solid #d9d9d9;
  text-align: center;
}
.footer-btn:active {
  color: #1890ff;
}
.icon-active{
  transform: scale(1.4);
}
.active {
  color: #1890ff;
}
