<div class="user-container">
  <div class="container" style="padding-bottom: 104px;">
    <div
      style="margin: 0 auto;width: 100%;text-align: center;height: 50px;line-height: 50px;font-size: 18px;font-weight: bold;color: #666666;position: relative;">
      确认订单
      <span style="position: absolute;left: 20px;" (click)="goTo(goodsId,goodsName,pic)"><i class="anticon anticon-left"></i></span>
    </div>
    <div>
      <!--地址-->
      <div style="background-color:white;margin-right: 20px;position: relative;width: 100%;padding-right: 26px;">
        <div style="height:78px;background-color:white;margin-right: 20px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;padding-top: 8px;color: #949494" >
          <span style="width: 20px;height: 20px;display: inline-block;position: absolute;font-size: 18px;top: 20px;left: 10px;"><i class="anticon anticon-environment-o"></i></span>
          <div style="margin-right: 20px;height: 64px;padding-left: 40px;position: relative;" *ngIf="!noneAddress">
            <div style="height: 26px;width: 100%;line-height: 26px;">
              <div style="float:left;">收货人：{{consignee}}</div>
              <div style="float: right;">{{iphone}}</div>
            </div>
            <div style="height: 40px;width: 112%;">配送地址：<span style="font-size: 12px;">{{address}}</span></div>
            <span style="position: absolute;right: -52px;top: 18px;font-size: 16px;" (click)="alterAdress()"><i class="anticon anticon-right"></i></span>
          </div>
          <div style="margin-right: 20px;height: 64px;padding-left: 70px;text-align: center;line-height: 64px;" *ngIf="noneAddress">
            <button nz-button nzType="primary" (click)="showModal()">请输入配送地址</button>
          </div>
        </div>
      </div>
      <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent"
                [nzFooter]="modalFooter" (nzOnCancel)="handleCancel()">
        <ng-template #modalTitle>
          请填写配送地址
        </ng-template>
        <ng-template #modalContent>
          <input nz-input placeholder="收货人" [(ngModel)]="inConsignee" style="margin-bottom: 10px;">
          <input nz-input placeholder="联系方式" [(ngModel)]="inIphone" style="margin-bottom: 10px;">
          <input nz-input placeholder="详细地址" [(ngModel)]="inAddress">
          <p style="color: red" *ngIf="isShow">*请输入完整信息</p>
          <!--<nz-switch [(ngModel)]="switchValue"></nz-switch>-->
        </ng-template>
        <ng-template #modalFooter>
          <button nz-button nzType="default" (click)="handleCancel()">取消</button>
          <button nz-button nzType="primary" *ngIf="newAddress" (click)="handleOk()">保存</button>
          <button nz-button nzType="primary" *ngIf="!newAddress" (click)="handleAlter()">修改</button>
        </ng-template>
      </nz-modal>
      <!--<nz-modal [(nzVisible)]="isVisibleA" [nzTitle]="modalTitleA" [nzContent]="modalContentA"-->
                <!--[nzFooter]="modalFooterA" (nzOnCancel)="handleCancelA()">-->
        <!--<ng-template #modalTitleA>-->
          <!--请填写配送地址-->
        <!--</ng-template>-->
        <!--<ng-template #modalContentA>-->
          <!--<input nz-input placeholder="收货人" [(ngModel)]="inConsignee" style="margin-bottom: 10px;">-->
          <!--<input nz-input placeholder="联系方式" [(ngModel)]="inIphone" style="margin-bottom: 10px;">-->
          <!--<input nz-input placeholder="详细地址" [(ngModel)]="inAddress">-->
          <!--<p style="color: red" *ngIf="isShow">*请输入完整信息</p>-->
          <!--&lt;!&ndash;<nz-switch [(ngModel)]="switchValue"></nz-switch>&ndash;&gt;-->
        <!--</ng-template>-->
        <!--<ng-template #modalFooterA>-->
          <!--<button nz-button nzType="default" (click)="handleCancelA()">取消</button>-->
          <!--<button nz-button nzType="primary" (click)="handleOkA()">保存</button>-->
        <!--</ng-template>-->
      <!--</nz-modal>-->
      <div style="height:102px;background-color:white;margin-right: 10px;position: relative;width: 100%;margin-top: 2px;">
        <div style="width: 94px;height: 94px;position: absolute;top: 4px;left: 4px;text-align: center;">
          <img [src]="imgUrl+pic" style="width: 94px;height: 94px;">
        </div>
        <div style="margin-left: 98px;height: 102px;text-align: left;padding: 10px;position: relative;">
          <div>
            {{goodsName}}
          </div>
          <div style="position: absolute;bottom: 10px;width: 100%;">
            <span style="color: red">¥{{money}}</span>
            <div style="position: absolute;bottom: 0;right: 20px;">×&nbsp;&nbsp;{{quantity}}
            </div>
          </div>
        </div>
      </div>
      <!--配送方式-->
      <div style="height:40px;background-color:white;padding:0 10px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div style="width: 120px;height: 40px;position: absolute;top: 0;left: 10px;line-height:40px;text-align: left;color: #949494;font-size: 14px;">配送方式</div>
        <div style="margin-left: 120px;height: 40px;text-align: right;line-height: 40px;">
          快递&nbsp;免邮<span style="margin-left: 4px;color: #666666"><i class="anticon anticon-right"></i></span>
        </div>
      </div>
      <!--付款方式-->
      <div style="height:40px;background-color:white;padding:0 10px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div style="width: 120px;height: 40px;position: absolute;top: 0;left: 10px;line-height:40px;text-align: left;color: #949494;font-size: 14px;">付款方式</div>
        <div style="margin-left: 120px;height: 40px;text-align: right;line-height: 40px;">
          <img src="../../../../assets/icon/wechatIcon.png" style="width: 32px;height: 32px;">
        </div>
      </div>
    </div>
    <!--<div style="display: flex;flex-direction: column;align-items: center;margin-top: 10px;">-->
      <!--<span style="margin-left: 20px;margin-right: 20px;font-size: 12px;"><span style="color: red">*</span>会员开通后，您在已开通的服务期内中途取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。</span>-->
      <!--<button nz-button nzType="primary" style="width: 144px;letter-spacing: 4px" (click)="vipBuy()">立即购买</button>-->
    <!--</div>-->
  </div>
  <div style="width: 100%;height: 50px;position: absolute;bottom: 59px;background: #ffffff;">
    <div style="margin-right:88px; background: #ffffff;height: 50px;line-height: 50px;text-align: right;padding-right: 10px;">
      合计金额<span style="color: red;margin-left: 4px;">¥:{{totalMoney}}</span>
    </div>
    <div style="position: absolute; right:0; top:0; width: 88px;font-size: 16px;background: #0099ff;height: 50px;
    line-height: 50px;color: #ffffff;text-align: center;" (click)="grouponBuy()">提交订单</div>
  </div>
</div>


