<div class="user-container">
  <div class="container" style="padding-bottom: 104px;">
    <!--<div-->
      <!--style="margin: 0 auto;width: 100%;text-align: center;height: 50px;line-height: 50px;font-size: 18px;font-weight: bold;color: #666666;position: relative;">-->
      <!--确认订单-->
      <!--<span style="position: absolute;left: 20px;" (click)="goTo(goodsId,goodsName,pic)"><i-->
        <!--class="anticon anticon-left"></i></span>-->
    <!--</div>-->
    <div>
      <!--地址-->
      <div class="top" *ngIf="needAddress">
        <img style="width: 25px;height: 30px;margin: 20px 10px 0px;float: left" src="../../../../assets/icon/dw5.png"
             alt="">
        <div *ngIf="!noneAddress" style="width: 100%;height: 70px;" (click)="toAddress('2')">
          <div style="margin-top: 15px;float: left;font-weight: bold;font-size: 14px;">
            <span>收货人：{{consignee}}</span><span style="padding-left: 20px;">{{iphone}}</span>
            <br>
            <span>配送地址：<span style="font-size: 12px;">{{address}}</span></span>
          </div>
          <img style="width: 30px;height: 30px;float: right;margin-top: 20px" src="../../../../assets/icon/right.png"
               alt="">
        </div>
        <div *ngIf="noneAddress" style="width: 100%;height: 70px;" (click)="toAddress('1')">
          <div style="float: left;font-weight: bold;font-size: 14px;line-height: 70px;">请填写地址</div>
          <img style="width: 30px;height: 30px;float: right;margin-top: 20px" src="../../../../assets/icon/right.png"
               alt="">
        </div>
      </div>
      <div class="addressPick" *ngIf="!needAddress">
        <div class="addressPick_t" *ngIf="addressList"><img
          src="../../../../../assets/icon/addressIconRed.png"
          class="addressPickIcon">
          {{addressList[0]['name']}}
        </div>
        <div class="addressCheck" (click)="showAdd()">查看更多
          <img src="../../../../../assets/icon/openIcon.png" style="width: 12px;height: 12px;margin-top: -2px;">
        </div>
        <!--<div *ngIf="showAddress">-->
        <!--<div class="addressPick_t" *ngFor="let item of addressList;let i = index"><img-->
        <!--src="../../../../../assets/icon/addressIconRed.png" class="addressPickIcon">-->
        <!--{{item}}-->
        <!--</div>-->
        <!--</div>-->
        <!--<div *ngIf="showAddress" class="addressCheck" >收起-->
        <!--<img src="../../../../../assets/icon/closeIcon.png" style="width: 12px;height: 12px;margin-top: -2px;">-->
        <!--</div>-->
      </div>
      <div
        style="height:102px;background-color:white;margin-right: 10px;position: relative;width: 100%;margin-top: 2px;">
        <div style="width: 94px;height: 94px;position: absolute;top: 4px;left: 4px;text-align: center;">
          <img [src]="imgUrl+pic" style="width: 94px;height: 94px;">
        </div>
        <div style="margin-left: 98px;height: 102px;text-align: left;padding: 10px;position: relative;">
          <div>
            {{goodsName}}
          </div>
          <div style="position: absolute;bottom: 10px;width: 100%;">
            <span style="color: red">¥{{money}}</span>
            <div style="position: absolute;bottom: 0;right: 20px;">×&nbsp;&nbsp;{{quantity}}
            </div>
          </div>
        </div>
      </div>
      <!--配送方式-->
      <div
        style="height:40px;background-color:white;padding:0 10px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 40px;position: absolute;top: 0;left: 10px;line-height:40px;text-align: left;color: #949494;font-size: 14px;">
          配送方式
        </div>
        <div style="margin-left: 120px;height: 40px;text-align: right;line-height: 40px;">
          快递&nbsp;免邮<span style="margin-left: 4px;color: #666666"><i class="anticon anticon-right"></i></span>
        </div>
      </div>
      <!--付款方式-->
      <div
        style="height:40px;background-color:white;padding:0 10px;position: relative;width: 100%;margin-top: 2px;padding-right: 26px;">
        <div
          style="width: 120px;height: 40px;position: absolute;top: 0;left: 10px;line-height:40px;text-align: left;color: #949494;font-size: 14px;">
          付款方式
        </div>
        <div style="margin-left: 120px;height: 40px;text-align: right;line-height: 40px;">
          <img src="../../../../assets/icon/wechatIcon.png" style="width: 32px;height: 32px;">
        </div>
      </div>
      <div style="width: 100%;margin-top: 10px;font-size: 12px;color: #CCCCCC;padding: 10px;">
        <h4>1.拼团成功后，我们将会以提水券或者提货券的形式发到你的账号下。你可以开箱取货，自动使用该券;</h4>
        <h4>2.拼团失败，金额原路返回到你的账上，并且扣除你的使用券;</h4>
      </div>
    </div>
    <!--<div style="display: flex;flex-direction: column;align-items: center;margin-top: 10px;">-->
    <!--<span style="margin-left: 20px;margin-right: 20px;font-size: 12px;"><span style="color: red">*</span>会员开通后，您在已开通的服务期内中途取消服务或终止资格的，将不获得为开通本服务而支付费用的退还。</span>-->
    <!--<button nz-button nzType="primary" style="width: 144px;letter-spacing: 4px" (click)="vipBuy()">立即购买</button>-->
    <!--</div>-->
  </div>
  <div style="width: 100%;height: 50px;position: fixed;bottom: 59px;background: #ffffff;">
    <div
      style="margin-right:88px; background: #ffffff;height: 50px;line-height: 50px;text-align: right;padding-right: 10px;">
      合计金额<span style="color: red;margin-left: 4px;">¥:{{totalMoney}}</span>
    </div>
    <div style="position: absolute; right:0; top:0; width: 88px;font-size: 16px;background: #0099ff;height: 50px;
    line-height: 50px;color: #ffffff;text-align: center;" (click)="grouponBuy()">提交订单
    </div>
  </div>
  <nz-modal [(nzVisible)]="showAddress" [nzTitle]="modalTitleA" [nzContent]="modalContentA" [nzFooter]="null"
            (nzOnCancel)="showAdd()">
    <ng-template #modalTitleA>
      拼团成功后，可以到以下地址领取！
    </ng-template>
    <ng-template #modalContentA>
      <div class="addressPick_t" *ngFor="let item of addressList"><img
        src="../../../../../assets/icon/addressIconRed.png" class="addressPickIcon">
        {{item.name}}
      </div>
    </ng-template>
  </nz-modal>
</div>


