.title{
  margin: 5px;
}
.user-container{
  position: absolute;
  padding-bottom: 10%;
  height: 100%;
  width: 100%;
  background: white;
  /*background: url("../../../../assets/main/bs-bg.jpg");*/
  /*background-size: 150% 100%;*/
}
.container {
  width: 100%;
}
[nz-carousel-content] {
  text-align: center;
  height: 200px;
  line-height: 200px;
  background: #364d79;
  color: #fff;
  overflow: hidden;
}
h3 {
  color: #fff;
}
.ant-carousel .slick-dots li button {
  width: 4px!important;
  height: 4px!important;
}
.gutter-example{
}
.gutter-box{
  margin-bottom: 5px;
  height: 210px;
  text-align: center;
  line-height: 20px;
  border-radius: 2px;
  background-color: rgba(244, 244, 244, 1);
  border: 1px solid rgba(244, 244, 244, 1);
}
.gutter-row-text{
  margin-left: 5px;
  margin-bottom: 0;
  width: 99%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.gutter-row-span{
  margin-left: 5px;
  margin-bottom: 0;
  color: red;
}
.gutter-row-icon{
  margin-right: 5px;
  float: right;
}
.gutter-boxs{
  height: 50px;
}
.box-img{
  width: 50%;
  height: 50%;
  margin-top: 45px;
}
.finish{
  width: 100%;
  height: 40px;
  position: fixed;
  bottom: 59px;
  background: white;
}
.content{
  background: white;
  height: 500px;
}
.span-btn{
  border-top: 1px solid #d9d9d9;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 1px solid grey;
  border-bottom: 1px solid grey;
}
.span-btn:last-child{
  border-top: 1px solid #d9d9d9;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
  border-right: 0 solid grey;
}
.active{
  background: gray;
  color: white;
}
