<div class="user-container">
  <!--<div class="container">-->
    <!--<nz-carousel [nzEffect]="'fade'" nzAutoPlay>-->
      <!--<div nz-carousel-content *ngFor="let index of array"><img style="width: 100%;height: 100%" [src]="index" alt=""></div>-->
    <!--</nz-carousel>-->
  <!--</div>-->
  <div class="gutter-example">
    <div id="desk"></div>
    <!--footer-->
    <div style="width: 100%;height: 50px"></div>
  </div>
  <div class="finish">
    <button style="width: 49%;height: 100%" (click)="goTo()"  nz-button nzType="primary">返回</button>
    <button style="width: 49%;height: 100%" (click)="orderTo()"  nz-button nzType="primary">加入购物车</button>
  </div>
</div>
