<div class="user-container">
  <div class="container">
    <div style="width: 100%;height: 100%;margin: 0 auto;">
      <nz-carousel nzAutoPlay>
        <div nz-carousel-content *ngFor="let index of imgList">
          <img style="width: 100%;height: 100%; display: block" [src]="imgUrl+index" alt="">
        </div>
      </nz-carousel>
    </div>
  </div>
  <!--<div id="timer2"></div>
  <div id="timer3"></div>-->
  <div class="goods-title">
    <div class="left title-cont">
      <span class="title-price">￥{{goodsObj['salesPrice']}}</span>
      <span class="title-costPrice" *ngIf="goodsObj['isConglomerateCommodity'] === 1">￥{{goodsObj['groupPurchasePrice']}}</span>
    </div>
    <div class="left" style="margin-top: 10px; display: table-cell;" *ngIf="goodsObj['isConglomerateCommodity'] === 1">
      <span class="spellGroup">
        <!--<i class="title-group">-->
        <!--<img style="display: block; width: 18px; height: 16px; margin: 2px auto;"-->
        <!--src="../../../../assets/icon/detailIcon/detail-user.png">-->
        <!--</i>-->
        {{grouponNumber}}人团
      </span>
    </div>
    <div class="right" style="height: 45px; line-height: 45px; ">
      <span *ngIf="goodsObj['isConglomerateCommodity'] === 0"
            style="font-size: 12px;">已销{{goodsObj['salesQuantity']}}件</span>
      <span *ngIf="goodsObj['isConglomerateCommodity'] === 1"
            style="font-size: 12px;">已拼{{goodsObj['salesQuantity']}}件</span>
    </div>
    <div class="clear-fix"></div>
  </div>
  <div class="goods-content">
    <span class="name-style">{{name}}</span>
    <!--<div class="right" style="width: 30px; height: 30px; margin: 10px 0px;" *ngIf="goodsObj['isConglomerateCommodity'] === 1">
      <img (click)="orderTo()" style="width: 100%; height: 100%; display: block" src="../../../../assets/icon/firstIcon/icon-addCart.png" alt="">
    </div>-->
    <!--<div class="content-addr">
      <div class="left" style="width: 20%;">
        <span style="color: #797979;">服务说明</span>
      </div>
      <div class="right" style="width: 80%;">
        <span class="activity">该活动仅限广州地区用户</span>
        <span style="font-size: 12px; color: #000;">商品以购水券的形式发送到您的账户，在‘我的存水’中查看</span>
      </div>
      <div class="clear-fix"></div>
    </div>-->
  </div>
  <div class="goods-spellGroup" *ngIf="goodsObj['isConglomerateCommodity'] === 1 && grouponTotal !== 0">
    <span style="width: 100%; height: 40px; line-height: 40px; color: #000; padding: 0px 15px; display: block;">{{grouponTotal}}个单正在拼团，可直接参与</span>
    <ul class="spellGroup-list" style="width: 100%; border-top: #efefef 1px solid;">
      <li style="width: 100%; padding: 10px 15px; border-bottom: #efefef 1px solid;"
          *ngFor="let item of grouponList; let i = index">
        <div class="left" style="width: 50%; height: 40px; line-height: 40px;">
          <img [src]="item.headimgurl" style="width: 40px; height: 40px; border-radius: 50%;"/>
          <span style="margin-left: 10px; color: #000;">{{turnPhone(item.phone)}}</span>
        </div>
        <div class="right" (click)="showQuantity(item.id)" style="margin-top: 5px; margin-left: 10px;">
          <button nz-button nzType="primary" class="btn-style" [disabled]="verifyTime(item.endTime)">去拼团</button>
        </div>
        <div class="right" style="height: 40px;">
          <span style="color: #000;" class="groupon_l_T">还差<span style="color: red">{{this.grouponNumber - item.participationNUm - 1}}</span>人成团</span>
          <span class="groupon_l_T"><span [id]="'timer' + i"></span></span>
        </div>
        <div class="clear-fix"></div>
      </li>
      <!--<li *ngFor="let item of grouponList">
        <div class="left">
          <img src="../../../../assets/icon/userIcon.png" />
          <span>{{turnPhone(item.phone)}}</span>
        </div>
        <div class="right">
          <span class="groupon_l_T">差<span style="color: red">{{grouponNumber - item.participationNUm - 1}}</span>人拼成</span>
          <span class="groupon_l_B"><span id="timer1"></span></span>
          <div class="groupon_r" (click)="showQuantity(item.id)">
            <button nz-button nzType="primary" [disabled]="verifyTime(item.endTime)">去拼团</button>
          </div>
        </div>
        <div class="clear-fix"></div>
      </li>-->
    </ul>
  </div>
  <!--<div class="gutter-example">
    <div class="gutter-row">
      <div class="gutter-row-text" style="font-weight: bold;height: 16px;line-height: 16px;">
        <span style="width: 41px;height: 16px;margin-right: 4px;" *ngIf="typeId === 26">
          <img src="../../../../assets/icon/11icon.png" style="width: 41px;height: 16px;"></span>{{name}}</div>
      <p class="gutter-row-text">已销{{goodsObj['salesQuantity']}}件</p>
      <span class="gutter-row-span" *ngIf="goodsObj['isConglomerateCommodity'] === 0">￥{{goodsObj['salesPrice']}}</span>
      <span class="gutter-row-span" *ngIf="goodsObj['isConglomerateCommodity'] === 1">
        <span style="text-decoration:line-through;color: #666666">￥{{goodsObj['salesPrice']}}</span>
        <span>￥{{goodsObj['groupPurchasePrice']}}</span>
        <span style="margin-left: 10px;color: #666666;">{{grouponNumber}}人成团</span>
        <span class="gutter-row-icon">已拼{{goodsObj['salesQuantity']}}件</span>
      </span>

    </div>
  </div>-->
  <!--团购成员-->
  <!--<div class="groupon" *ngIf="listShow">
    <div style="height: 24px;line-height: 24px;color: #333333;padding-left: 4px;position: relative;">
      {{grouponTotal}}人在拼单,可直接参与
      <span style="position: absolute;right: 4px;color: #BFBFBF" (click)="showModal(grouponList)">查看全部<i
        class="anticon anticon-right"></i></span>
    </div>
    <div style="position: relative;height: 48px;border-top: 1px solid #D4D4D4;">
      <div class="groupon_l">
        <span style="position: absolute;left: 16px;top: 4px;"><img src="../../../../assets/icon/userIcon.png" style="width: 25px;height: 25px;">{{turnPhone(grouponList[0].phone)}}</span>
        <span class="groupon_l_T">差<span style="color: red">{{grouponNumber - grouponList[0].participationNUm - 1}}</span>人拼成</span>
        <span class="groupon_l_B"><span id="timer1"></span></span>
        &lt;!&ndash;<span class="groupon_l_B">有效期至{{turnData(grouponList[0].endTime)}}</span>&ndash;&gt;
      </div>
      &lt;!&ndash;<button nz-button nzType="primary">拼单</button>&ndash;&gt;
      &lt;!&ndash;<div class="groupon_r" name="timer1" (click)="showQuantity(grouponList[0]['id'])"><img src="../../../../assets/icon/groupIcon.png" style="width: 50px;height: 25px;"></div>&ndash;&gt;
      <div class="groupon_r" (click)="showQuantity(grouponList[0]['id'])"><button nz-button nzType="primary" [disabled]="verifyTime(grouponList[0].endTime)">拼团</button></div>
    </div>
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]=null
              (nzOnCancel)="handleCancel()">
      <ng-template #modalTitle>
        正在拼单
      </ng-template>
      <ng-template #modalContent>
        <div style="position: relative;height: 48px;border-bottom: 1px solid #D4D4D4;"
             *ngFor="let item of grouponList">
          <div style="text-align: right;margin-right: 70px;">
            <span style="position: absolute;left: 0px;top: 4px;"><img src="../../../../assets/icon/userIcon.png" style="width: 25px;height: 25px;">{{turnPhone(item.phone)}}</span>
            <span class="groupon_l_T">差<span style="color: red">{{grouponNumber - item.participationNUm - 1}}</span>人拼成</span>
            &lt;!&ndash;<span class="groupon_l_B">有效期至{{turnData(item.endTime)}}</span>&ndash;&gt;
            <span class="groupon_l_B"><span [id]="'a'+item.id"></span></span>
          </div>

          <div class="groupon_r_modal" (click)="showQuantity(item['id'])"><button nz-button nzType="primary" [disabled]="verifyTime(item.endTime)">拼团</button></div>
        </div>
      </ng-template>
    </nz-modal>
  </div>-->
  <!--数量-->
  <nz-modal [(nzVisible)]="isVisibleA" [nzTitle]="modalTitleA" [nzContent]="modalContentA" [nzFooter]="modalFooterA"
            (nzOnCancel)="quantityCancel()">
    <ng-template #modalTitleA>
      请确认购买数量
    </ng-template>
    <ng-template #modalContentA>
      <div style="display: flex">
        <div style="flex: 1;height: 60px;">
          <img [src]="imgUrl+pic" style="width: 60px;height: 60px;">
        </div>
        <div style="flex: 2;height: 60px;padding-top: 4px;">
          购买数量：<img src="../../../../assets/icon/offline.png" class="addIcon" (click)="offNum()">
          <input type="tel" class="form-control" [(ngModel)]="quantity" name="quantity"
                 style="display: inline-block;width: 30px;"
                 oninput="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
                 onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^1-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}">
          <img src="../../../../assets/icon/addition.png" class="offIcon" (click)="addNum()">
          <div style="color: #999999" *ngIf="quantityFalse">*数量必须大于0</div>
          <div style="color: #999999" *ngIf="quantityMaxFalse">团购数量最多{{maxNum}}件</div>
        </div>
      </div>
    </ng-template>
    <ng-template #modalFooterA>
      <button nz-button nzType="default" (click)="quantityCancel()">取消</button>
      <button nz-button nzType="primary"
              (click)="grouponGo(quantity,goodsObj['id'],grouponId,spellgroupId)">
        提交
      </button>
    </ng-template>
  </nz-modal>
  <ul class="gutter-detialNav">
    <li (click)="selected(1)" [class]="(curId === 1) ? 'nav-active' : ''">图文详情</li>
    <li (click)="selected(2)" [class]="(curId === 2) ? 'nav-active' : ''">商品参数</li>
    <li (click)="selected(3)" [class]="(curId === 3) ? 'nav-active' : ''">购买须知</li>
  </ul>
  <div [hidden]="curId !== 1" class="goods-detail">
    <div id="desk">
    </div>
  </div>
  <div [hidden]="curId !== 2" class="goods-detail">
    <div id="desks">
    </div>
  </div>
  <div [hidden]="curId !== 3" class="goods-detail">
    <div id="deskss">
    </div>
  </div>
  <!--footer-->
  <!--<div style="width: 100%;height: 100px"></div>-->
  <!--非团购-->
  <div class="finish">
    <ul style="width: 100%;">
      <li style="width: 14%; border-right: #efefef 1px solid" (click)="turnToPage(1)">
        <img src="../../../../assets/icon/detailIcon/detail-home.png">
        <span>主页</span>
      </li>
      <li style="width: 14%; border-right: #efefef 1px solid" (click)="turnToPage(2)">
        <img src="../../../../assets/icon/detailIcon/detail-collect.png">
        <span>推荐</span>
      </li>
      <li style="width: 14%; border-right: #efefef 1px solid" (click)="turnToPage(3)">
        <img src="../../../../assets/icon/detailIcon/detail-cart.png">
        <span>购物车</span>
      </li>
      <!--非团购-->
      <li style="width: 29%" class="cartOrBuy" (click)="orderTo(0)"
          *ngIf="goodsObj['isConglomerateCommodity'] === 0 && goodsBargainId === null && activityId !== 3">
        <span class="text-style">加入购物车</span>
      </li>
      <li style="width: 29%" class="cartOrBuy" (click)="chooseId()"
          *ngIf="goodsObj['isConglomerateCommodity'] === 0 && goodsBargainId === null && activityId === 3">
        <span class="text-style">选择套餐</span>
      </li>
      <li style="width: 29%" class="groupOrBuy" (click)="btnCartAndBuy()"
          *ngIf="goodsObj['isConglomerateCommodity'] === 0 && goodsBargainId === null">
        <span class="text-style">立即购买</span>
      </li>
      <!--团购-->
      <li style="width: 29%" class="cartOrBuy" (click)="orderTo(1)"
          *ngIf="goodsObj['isConglomerateCommodity'] === 1 && goodsBargainId === null">
        <div style="margin-top: 5px;">
          <span class="text-style1">￥{{goodsObj['salesPrice']}}</span>
          <span class="text-style1">正价购买</span>
        </div>
      </li>
      <li style="width: 29%" class="groupOrBuy" (click)="showQuantity(null)"
          *ngIf="goodsObj['isConglomerateCommodity'] === 1 && goodsBargainId === null && activityId !== 3">
        <div style="margin-top: 5px;">
          <span class="text-style1">￥{{goodsObj['groupPurchasePrice']}}</span>
          <span class="text-style1">发起拼团</span>
        </div>
      </li>
      <!--砍价-->
      <li *ngIf="goodsBargainId !== null" style="width: 58%" class="bargain" (click)="create(activityId)">
        砍价免费拿
      </li>
      <div class="clear-fix"></div>
    </ul>
  </div>
  <!--<div class="finishA" *ngIf="goodsObj['isConglomerateCommodity'] === 1">
    <div style="flex: 1;height: 100%;background: #f7f7f7;line-height: 40px;">
      <span (click)="share('点击右上角分享', 2000)"><i class="anticon anticon-export" style="margin-right: 2px;"></i>分享</span>
    </div>
    <div style="flex: 1;height: 100%;background: #e8aeaa;color: #fcffff" (click)="orderTo()">
      <span style="display: block;line-height: 20px;">￥{{goodsObj['salesPrice']}}</span>
      <span style="display: block;line-height: 20px;">原价购买</span>
    </div>
    &lt;!&ndash;grouponGo(quantity,goodsObj['id'],goodsObj['name'],goodsObj['groupPurchasePrice'],null,pic)&ndash;&gt;
    <div style="flex: 1;height: 100%;background: #ce4034;color: #fcffff" (click)="showQuantity(null)">
      <span style="display: block;line-height: 20px;">￥{{goodsObj['groupPurchasePrice']}}</span>
      <span style="display: block;line-height: 20px;">发起拼单</span>
    </div>

    &lt;!&ndash;<button style="flex: 1;height: 100%" (click)="goTo()"  nz-button nzType="primary">返回</button>&ndash;&gt;
    &lt;!&ndash;<button style="flex: 1;height: 100%" (click)="goTo()"  nz-button nzType="primary">原价购买</button>&ndash;&gt;
    &lt;!&ndash;<button style="flex: 1;height: 100%" (click)="orderTo()"  nz-button nzType="primary">拼价购买</button>&ndash;&gt;
  </div>-->
  <nz-modal [(nzVisible)]="isVisibleB" [nzTitle]="modalTitleB" [nzContent]="modalContentB" [nzFooter]="modalFooterB"
            (nzOnCancel)="cancelB()">
    <ng-template #modalTitleB>
      友情提示
    </ng-template>
    <ng-template #modalContentB>
      <div id="message"></div>
    </ng-template>
    <ng-template #modalFooterB>
      <div style="width: 100%;text-align: center;">
        <button nz-button nzType="primary" (click)="cancelB()">确定</button>
      </div>
    </ng-template>
  </nz-modal>

  <nz-modal [(nzVisible)]="isVisibleC" [nzTitle]="modalTitleC" [nzContent]="modalContentC" [nzFooter]="modalFooterC"
            (nzOnCancel)="cancelC()">
    <ng-template #modalTitleC>
      友情提示
    </ng-template>
    <ng-template #modalContentC>
      <div class="change_table" id="change_table">
        <table class="table-bordered c_table">
          <thead>
          <tr>
            <th style="width: 10%">套餐</th>
            <th style="width: 30%">商品</th>
            <th style="width: 10%;">数量</th>
            <th style="width: 20%">图片</th>
            <th style="width: 10%">价格</th>
          </tr>
          </thead>
          <tbody>
          <!--            *ngFor="let itemc of gwOutChangeList"-->
          <tr style="position: relative;" class="change_input" *ngFor="let item of mealList;let i = index">
            <td style="width: 10%">{{i+1}}</td>
            <td style="width: 30%">
              {{item.name}}
            </td>
            <td style="width: 10%">
              {{item.num}}
            </td>
            <td style="width: 20%">
              <div style="height: 70px;margin-top: 5px;">
                <img style="width: 60px;height: 60px;margin-right: 5px;" [src]=imgPath+item.pic>
              </div>
            </td>
            <td style="width: 10%">
              {{item.price}}
            </td>
            <td style="width: 10%">
              <button nz-button nzType="primary" (click)="selectThis(item)">选择此套餐</button>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </ng-template>
    <ng-template #modalFooterC>
      <div style="width: 100%;text-align: center;">
        <button nz-button nzType="primary" (click)="cancelC()">确定</button>
      </div>
    </ng-template>
  </nz-modal>
</div>

<!--
<div class="user-container">
  <div class="container">
    <nz-carousel [nzEffect]="'fade'" nzAutoPlay>
      <div nz-carousel-content *ngFor="let index of imgList"><img style="width: 100%;height: 100%" [src]="imgUrl+index" alt=""></div>
    </nz-carousel>
    <div style="width: 100%;height: 100px;padding: 10px;">
      <span style="display: block">【套装优惠】{{goodsObj['name']}}</span>
      <span style="display: block;">已售{{goodsObj['salesQuantity']}}件</span>
      <span style="float: left;color: red;">￥{{goodsObj['salesPrice']}}</span>
      <span style="float: right;">{{goodsObj['purchaseTime']}}人已买</span>
    </div>
  </div>
  <div class="gutter-example">
    <div class="content">
      <div nz-row style="height: 50px;">
        <div (click)="selected(1)" [ngClass]="(curId === 1) ?'active':''" class="span-btn" nz-col nzSpan="8">图文详情</div>
        <div (click)="selected(2)" [ngClass]="(curId === 2) ?'active':''" class="span-btn" nz-col nzSpan="8">商品参数</div>
        <div (click)="selected(3)" [ngClass]="(curId === 3) ?'active':''" class="span-btn" nz-col nzSpan="8">购买须知</div>
      </div>
      <div [hidden]="curId !== 1" id="desk" class="goods-detail"></div>
      <div [hidden]="curId !== 2" id="desks" class="goods-detail"></div>
      &lt;!&ndash;<div *ngIf="curId === 1" id="desk" style="width: 100%;height: auto"></div>&ndash;&gt;
      <div [hidden]="curId !== 3" id="deskss" class="goods-detail">
        &lt;!&ndash;<p>1、正品保障 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  售卖的所有产品均通过正规品牌商或供货商渠道采购，确保正品。产品均有中国人寿财产保险股份有限公司承担产品质量保证保险，请您放心购买。</p>&ndash;&gt;
        &lt;!&ndash;<p>2、 全场包邮 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  全场商品支持全国范围内包邮，除港澳台和部分偏远地区（如新疆、西藏、内蒙古等）外，您无需承担邮费。</p>&ndash;&gt;
        &lt;!&ndash;<p>3、 关于发货 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  普通商品：订单付款成功后24小时内发货，水果生鲜付款成功后48小时内发货跨境商品：订单付款成功后48小时内发货上述情况不包括店主礼包、预售商品和大促活动商品，且跨境涉及海关清关，节假日等因素可能有所延迟，敬请谅解！</p>&ndash;&gt;
        &lt;!&ndash;<p>4、 关于快递 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  仓储与多家快递公司合作，会根据你的地址自动匹配当地运营较好的快递公司，保证所有国内地区均有快递可以送达，暂不支持指定快递。</p>&ndash;&gt;
        &lt;!&ndash;<p>5、 关于签收 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  收到商品后需要您当场验货确认无误后再签收，如果是包装完好且本人签收的再反馈少发、错发等类似问题，请自理。若非当面签收后发现异常请第一时间联系快递核实。</p>&ndash;&gt;
        &lt;!&ndash;<p>6、 关于退换货 </p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  .无理由退货：在商品完好不影响二次销售的情况下，支持签收之日起的7天内无理由退货（生鲜类、保税区及其他页面特别说明商品不支持无理由退货），退货运费由买家承担</p>&ndash;&gt;
        &lt;!&ndash;<p style="text-indent:2em;">  .非无理由退货：因商品质量问题，破损错发等非买家原因导致的退货（过敏，快递延误等除外），支持签收之日起7天内退货，退货运费由贝店承担。</p>&ndash;&gt;
        &lt;!&ndash;footer&ndash;&gt;
        &lt;!&ndash;<div style="width: 100%;height: 100px"></div>&ndash;&gt;
      </div>
    </div>
    &lt;!&ndash;footer&ndash;&gt;
    &lt;!&ndash;<div style="width: 100%;height: 100px"></div>&ndash;&gt;
  </div>
  <div class="finish">
    <button style="width: 49%;height: 100%" (click)="goTo()"  nz-button nzType="primary">返回</button>
    <button style="width: 49%;height: 100%" (click)="orderTo()"  nz-button nzType="primary">加入购物车</button>
  </div>
</div>
-->
