<div id="user-container" class="user-container">
  <div style="text-align: center">
  </div>
  <div id="container" class="container">
    <div class="signup_forms">
      <div>
        <p>请输入您的手机号，注册您的优水账号</p>
        <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input placeholder="请输入手机号" [(ngModel)]="username" name="username">
        </nz-input-group>
        <ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="username=null" *ngIf="username"></i></ng-template>
        <nz-input-group style="margin-top: 10px" nzSearch nzSize="large" [nzSuffix]="suffixButton" nzPrefixIcon="anticon anticon-mail">
          <input (click)="focusCodes()" type="text" nz-input placeholder="请输入验证码" [(ngModel)]="code" name="code">
        </nz-input-group>
        <ng-template #suffixButton>
          <button (click)="send($event)" nz-button nzType="primary" nzSize="large" nzSearch [nzLoading]="isLoading"><span style="font-size: 10px">{{text}}{{endText}}</span></button>
        </ng-template>
        <div style="margin:10px 0;">
          <span style="display: block;">请选择当前城市</span>
          <nz-radio-group #selectcity [(ngModel)]="city" (ngModelChange)="selectCity(selectcity.value)">
            <label nz-radio-button nzValue="1">广州</label>
            <label nz-radio-button nzValue="2">珠海</label>
            <label nz-radio-button nzValue="3">四川</label>
            <label nz-radio-button nzValue="4">其他</label>
          </nz-radio-group>
        </div>
        <input type="tel" nz-input placeholder="请输入扫码售货机编号" [(ngModel)]="vmCode" name="vmCode" *ngIf="showVmCode"
               oninput="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'')}else{this.value=this.value.replace(/\D/g,'')}"
               onafterpaste="if(this.value.length==1){this.value=this.value.replace(/[^0-9]/g,'0')}else{this.value=this.value.replace(/\D/g,'')}"/>

      </div>
      <button (click)="login()" type="button" id="signup_forms_submit"><span><strong>登 陆</strong></span></button>
    </div>
  </div>
</div>
