<div id="user-container" class="user-container">
  <div style="text-align: center">
    <!--<img style="width: 140px;height: 140px;margin-top: 70px" src="../../../assets/main/logos.png" alt="">-->
    <!--<h2 id="logo">优水到家</h2>-->
  </div>
  <div id="container" class="container">
    <div class="signup_forms">
      <div>
        <p>请输入您的手机号，注册您的优水账号</p>
        <nz-input-group nzSize="large" [nzSuffix]="suffixTemplate" nzPrefixIcon="anticon anticon-user">
          <input type="text" nz-input placeholder="请输入手机号" [(ngModel)]="username" name="username">
        </nz-input-group>
        <ng-template #suffixTemplate><i class="anticon anticon-close-circle" (click)="username=null" *ngIf="username"></i></ng-template>
        <nz-input-group style="margin-top: 10px" nzSearch nzSize="large" [nzSuffix]="suffixButton" nzPrefixIcon="anticon anticon-mail">
          <input (click)="focusCodes()" type="text" nz-input placeholder="请输入验证码" [(ngModel)]="code" name="code">
        </nz-input-group>
        <ng-template #suffixButton>
          <button (click)="send($event)" nz-button nzType="primary" nzSize="large" nzSearch [nzLoading]="isLoading"><span style="font-size: 10px">{{text}}{{endText}}</span></button>
        </ng-template>
      </div>
      <button (click)="login()" type="button" id="signup_forms_submit"><span><strong>登 陆</strong></span></button>
    </div>
  </div>
</div>
