<div class="user-container">
  <div class="firstList">
    <div class="listTitle">
      <span class="title_img">为您推荐</span>
    </div>
    <ul class="listContent">
      <li class="list" *ngFor="let item of list">
        <div (click)="goTo(item.id, item.name)" class="list_img" style="width: 40%; height: 100%; float: left; padding-right: 10px;">
          <img style="width: 100%;height: 100%; display: block;" [src]="imgUrl+item.pic">
        </div>
        <div class="list_goods" style="width: 60%; height: 100%; float: left; position: relative">
          <div class="list_goods_name" (click)="goTo(item.id, item.name)">{{item.name || '无名字'}}</div>
          <!--非团购商品-->
          <div style="width: 100%;position: absolute; height: 45px; bottom: 0px;">
            <div style="float: left;">
              <span class="span-text">厂家直销</span>
              <span class="span-price" >￥{{item.salesPrice}}</span>
              <span *ngIf="item.isConglomerateCommodity === 1"
                    style="font-size: 12px; padding-left: 10px;">已拼{{item.salesQuantity}}件</span>
            </div>
            <div *ngIf="item.isConglomerateCommodity === 0" style="float: right; width: 30px;height: 30px; margin-top: 15px;">
              <img (click)="addCar(item)" style="width: 100%; height: 100%; display: block" src="../../../../assets/icon/firstIcon/icon-addCart.png" alt="">
            </div>
            <div class="clear-fix"></div>
          </div>
        </div>
        <div class="clear-fix"></div>
      </li>
    </ul>

    <!--footer-->
    <div style="width: 100%;height: 50px"></div>
  </div>
</div>
