<div class="user-container">
  <ul class="menu-top" nz-menu [nzMode]="'horizontal'">
    <li class="menu-li" nz-menu-item [nzSelected]="true">综合</li>
    <li class="menu-li" nz-menu-item>销量</li>
    <li class="menu-li" nz-menu-item>新品</li>
    <li class="menu-li" nz-menu-item>价格</li>
  </ul>
  <div class="gutter-example">
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
        <span class="gutter-row-icon">$</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>

      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-box">
          <img class="box-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
        </div>
        <p class="gutter-row-text">1234555</p>
        <span class="gutter-row-span">$80</span>
      </div>
      <!--footer-->
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-boxs"></div>
      </div>
      <div nz-col class="gutter-row" nzSpan="12">
        <div class="gutter-boxs"></div>
      </div>
    </div>
  </div>
</div>
