<div class="user-container">
  <ul class="menu-top" nz-menu [nzMode]="'horizontal'">
    <li (click)="sort(1)" class="menu-li" nz-menu-item [nzSelected]="true">综合</li>
    <!--<li (click)="sort(2)" class="menu-li" nz-menu-item>销量</li>-->
    <li (click)="sort(3)" class="menu-li" nz-menu-item>新品</li>
    <li (click)="sort(4)" class="menu-li" nz-menu-item>价格</li>
    <li (click)="sort(5)" class="menu-li" nz-menu-item>优惠券</li>
  </ul>
  <div class="gutter-example" *ngIf="!unUsed">
    <div nz-row nzGutter="16">

      <div  nz-col class="gutter-row" nzSpan="12" *ngFor="let item of list">
        <div (click)="goTo(item.id, item.name)" class="gutter-box">
          <img class="box-img" [src]="imgUrl+item.pic" alt="">
        </div>
        <p class="gutter-row-text">{{item.name || '无名字'}}</p>
        <span class="gutter-row-span">￥{{item.salesPrice}}</span>
        <span class="gutter-row-icon"><img (click)="addCar(item)" width="20px" height="20px" src="../../../../assets/icon/addCar.png" alt=""></span>
      </div>
    </div>
    <div style="width: 100%;height: 50px"></div>
  </div>
  <div *ngIf="unUsed" class="layout">
    <div (click)="pickCard(item)" class="card-unuses" *ngFor="let item of couponList">
      <div style="float: left;margin-top: 20px">
        <h2 style="color: white">￥{{item.deductionMoney}}</h2>
        <span style="font-size: 12px;margin-left: 10px;">{{text(item)}}</span>
      </div>
      <div style="float: left;margin-left:5px;margin-top: 5px">
        <span style="float: left">{{item.useWhereLabel}}</span>
        <br>
        <span style="float: left;font-size: 12px">限{{toDate(item.startTime)}}-{{toDate(item.endTime)}}使用</span>
        <br>
        <span style="float: left;margin-top: 15px;font-size: 12px">仅限购买特殊商品使用</span>
      </div>
      <br>
      <div class="line"></div>
      <span class="use">立即领取</span>
    </div>

    <div class="footer">
      已经到底~
    </div>
  </div>
</div>
