<div class="user-container">
  <ul class="menu-top" nz-menu [nzMode]="'horizontal'">
    <li (click)="sort(0)" class="menu-li" nz-menu-item [nzSelected]="true">全部</li>
    <li (click)="sort(1)" class="menu-li" nz-menu-item>已支付</li>
    <li (click)="sort(2)" class="menu-li" nz-menu-item>未支付</li>
  </ul>
  <div class="typeRadio">
    <nz-radio-group [(ngModel)]="orderType" (ngModelChange)="changeRadio()">
      <label nz-radio nzValue='1'>商城订单</label>
      <label nz-radio nzValue='2'>机器订单</label>
    </nz-radio-group>
  </div>
  <div [hidden]="all" class="order-layout">
    <div class="order" *ngFor="let item of allList">
      <div class="orderNum">
        <span style="margin-left: 10px;font-size: 12px;">订单号：{{item.payCode}}</span>
      </div>
      <div class="orderGoods" *ngFor="let items of item.list" [hidden]="!item.list">
        <div class="orderImg">
          <img style="width: 80px;height: 80px;" [src]="imgUrl+items.pic" *ngIf="orderType === '1'">
          <img style="width: 80px;height: 80px;" [src]="vmImgUrl+items.pic" *ngIf="orderType === '2'">
        </div>
        <div class="orderCont">
          <div class="order_GoodsName">
            {{items.itemName}}
            <span class="order_GoodsPrice">¥{{items.price}}</span>
          </div>
          <div class="order_GoodsNum">数量:{{items.num}}</div>
        </div>
      </div>
      <div class="orderDetails">
        <div class="orderDetails_l">
          <div class="orderDetails_l_in">下单时间</div>
          <div class="orderDetails_l_in">订单状态</div>
          <div class="orderDetails_l_in">实付款</div>
        </div>
        <div class="orderDetails_r">
          <div class="orderDetails_r_in">{{item.time}}</div>
          <div class="orderDetails_r_in">{{item.stateName}}</div>
          <div class="orderDetails_r_in">¥{{item.nowprice}}</div>
        </div>
      </div>
      <div class="unPay" *ngIf="item.stateName === '未支付'">
        <img src="../../../../../assets/icon/payIcon.png" class="unPay_img" (click)="pay(item)">
      </div>
    </div>
  </div>
  <div [hidden]="noOrder" class="order-layout">
    <div class="order" *ngFor="let item of prepaidList">
      <div class="orderNum">
        <span style="margin-left: 10px;font-size: 12px;">订单号：{{item.payCode}}</span>
      </div>
      <div class="orderGoods" *ngFor="let items of item.list" [hidden]="!item.list">
        <div class="orderImg">
          <img style="width: 80px;height: 80px;" [src]="imgUrl+items.pic" *ngIf="orderType === '1'">
          <img style="width: 80px;height: 80px;" [src]="vmImgUrl+items.pic" *ngIf="orderType === '2'">
        </div>
        <div class="orderCont">
          <div class="order_GoodsName">
            {{items.itemName}}
            <span class="order_GoodsPrice">¥{{items.price}}</span>
          </div>
          <div class="order_GoodsNum">数量:{{items.num}}</div>
        </div>
      </div>
      <div class="orderDetails">
        <div class="orderDetails_l">
          <div class="orderDetails_l_in">下单时间</div>
          <div class="orderDetails_l_in">订单状态</div>
          <div class="orderDetails_l_in">实付款</div>
        </div>
        <div class="orderDetails_r">
          <div class="orderDetails_r_in">{{item.time}}</div>
          <div class="orderDetails_r_in">{{item.stateName}}</div>
          <div class="orderDetails_r_in">¥{{item.nowprice}}</div>
        </div>
      </div>
    </div>
  </div>
  <div [hidden]="order" class="order-layout">
    <div class="order" *ngFor="let item of unPayList">
      <div class="orderNum">
        <span style="margin-left: 10px;font-size: 12px;">订单号：{{item.payCode}}</span>
      </div>
      <div class="orderGoods" *ngFor="let items of item.list" [hidden]="!item.list">
        <div class="orderImg">
          <img style="width: 80px;height: 80px;" [src]="imgUrl+items.pic" *ngIf="orderType === '1'">
          <img style="width: 80px;height: 80px;" [src]="vmImgUrl+items.pic" *ngIf="orderType === '2'">
        </div>
        <div class="orderCont">
          <div class="order_GoodsName">
            {{items.itemName}}
            <span class="order_GoodsPrice">¥{{items.price}}</span>
          </div>
          <div class="order_GoodsNum">数量:{{items.num}}</div>
        </div>
      </div>
      <div class="orderDetails">
        <div class="orderDetails_l">
          <div class="orderDetails_l_in">下单时间</div>
          <div class="orderDetails_l_in">订单状态</div>
          <div class="orderDetails_l_in">实付款</div>
        </div>
        <div class="orderDetails_r">
          <div class="orderDetails_r_in">{{item.time}}</div>
          <div class="orderDetails_r_in">{{item.stateName}}</div>
          <div class="orderDetails_r_in">¥{{item.nowprice}}</div>
        </div>
      </div>
      <div class="unPay" *ngIf="item.stateName === '未支付'">
        <img src="../../../../../assets/icon/payIcon.png" class="unPay_img" (click)="pay(item)">
      </div>
    </div>
  </div>
</div>
