<div class="user-container">
  <ul class="menu-top" nz-menu [nzMode]="'horizontal'">
    <li (click)="choose(1)" class="menu-li" nz-menu-item [nzSelected]="true">未使用</li>
    <li (click)="choose(2)" class="menu-li" nz-menu-item>已使用</li>
    <li (click)="choose(3)" class="menu-li" nz-menu-item>已过期</li>
  </ul>
  <div *ngIf="empty" class="none">
    <img style="width: 35%;margin-bottom: 5px" src="../../../../../assets/icon/wrong.png" alt="">
    <h4>空空如也~</h4>
  </div>
  <!--未使用-->
  <div *ngIf="effective" class="layout">
    <div class="couponOut" [hidden]="!effectiveList" *ngFor="let item of effectiveList">
      <!--满减-->
      <div class="couponImg couponUrlA" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlB" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlC" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlD" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/couponMa.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 1">
          <img src="../../../../../assets/icon/couponMb.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 2">
          <img src="../../../../../assets/icon/couponMc.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 3">
          <img src="../../../../../assets/icon/couponMd.png" class="coupon_nameImg" *ngIf="item.useWhere === 1 && item.type === 4">
          <!--商城-->
          <img src="../../../../../assets/icon/couponSa.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 1">
          <img src="../../../../../assets/icon/couponSb.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 2">
          <img src="../../../../../assets/icon/couponSc.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 3">
          <img src="../../../../../assets/icon/couponSd.png" class="coupon_nameImg" *ngIf="item.useWhere === 2 && item.type === 4">
          {{item.name}}
          <span style="position: absolute;right: -16px;top: 13px;color: #333333">&times;{{item.quantity}}</span>
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
        <img class="coupon_useImg" src="../../../../../assets/icon/useIcon.png"  *ngIf="turnToBind(item.bindProduct,item.useWhere)" (click)="useSpecialCard(item.id)">
        <img class="coupon_useImg" src="../../../../../assets/icon/useIcon.png"  *ngIf="!turnToBind(item.bindProduct,item.useWhere)" (click)="useCard(1)">
      </div>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
  <nz-modal [(nzVisible)]="specialModal" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]=null
            (nzOnCancel)="useSpecialCardHide()">
    <ng-template #modalTitle>
      商品
    </ng-template>
    <ng-template #modalContent>
      <div
        style="width: 346px;height: 80px;border-bottom:1px dashed #666666 ;margin-bottom: 4px;display: flex;overflow: hidden;"
        *ngFor="let item of specialGoodsList">
        <div style="width:80px;height: 100%;vertical-align: middle;
        text-align: center;">
          <img style="width: 78px;height: 78px;" [src]=imgUrl+trunImg(item.pic)>
        </div>
        <div style="width: 266px;height: 100%;">
          <div style="width: 100%;height: 50px;letter-spacing: 2px;padding-left: 4px;font-size: 16px;">{{item.name}}
          </div>
          <div style="width: 100%;height: 30px;line-height: 30px;padding: 0 4px;">
            <div style="float: left;width: 80px;">￥{{item.salesPrice}}</div>
            <div style="float: right;width: 100px;" (click)="addCar(item)">
              <span style="position: relative;top: -4px;"><img style="width: 20px;height: 20px;color: #666666"
                                                               src="../../../../assets/icon/addCar.png" alt=""></span>加入购物车
            </div>
          </div>

        </div>
      </div>
    </ng-template>
  </nz-modal>
  <!--已过期-->
  <div *ngIf="overDue" class="layout">
    <div class="couponOut" [hidden]="!overDueList" *ngFor="let item of overDueList">
      <!--满减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/overDueVm.png" class="coupon_nameImg" *ngIf="item.useWhere === 1">
          <!--商城-->
          <img src="../../../../../assets/icon/overDueS.png" class="coupon_nameImg" *ngIf="item.useWhere === 2">
          {{item.name}}
          <img class="coupon_usedImg" src="../../../../../assets/icon/pastDue.png">
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
        <span style="position: absolute;right: 6px;top: 50%;margin-top: -9px;color: #333333">&times;{{item.quantity}}</span>
      </div>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
  <!--已使用-->
  <div *ngIf="used" class="layout">
    <div class="couponOut" [hidden]="!usedList" *ngFor="let item of usedList">
      <!--满减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 1">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">满{{item.money}}减{{item.deductionMoney}}</span>
        </div>
      </div>
      <!--固定立减-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 2">
        <div class="couponImg_in">
          <span style="font-size: 18px;"><span style="font-size: 12px;">￥</span>{{item.deductionMoney}}</span>
          <span style="display: block;font-size: 12px;">立减券</span>
        </div>
      </div>
      <!--折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 3">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">折扣券</span>
        </div>
      </div>
      <!--固定折扣-->
      <div class="couponImg couponUrlNone" *ngIf="item.type === 4">
        <div class="couponImg_in">
          <span style="font-size: 18px;">{{item.deductionMoney}}<span style="font-size: 12px;">折</span></span>
          <span style="display: block;font-size: 12px;">固定折扣券</span>
          <!--最大优惠多少钱-->
        </div>
      </div>
      <!---->
      <div class="coupon_cont">
        <div class="coupon_name">
          <!--机器-->
          <img src="../../../../../assets/icon/overDueVm.png" class="coupon_nameImg" *ngIf="item.useWhere === 1">
          <!--商城-->
          <img src="../../../../../assets/icon/overDueS.png" class="coupon_nameImg" *ngIf="item.useWhere === 2">
          {{item.name}}
          <img class="coupon_usedImg" src="../../../../../assets/icon/usedIcon.png">
        </div>
        <span class="coupon_time">{{toDate(item.startTime)}}-{{toDate(item.endTime)}}</span>
        <span style="display: block">
          <span *ngIf="item.type === 4">最大优惠{{item.maximumDiscount}}元,</span>
          <span *ngIf="turnToBind(item.bindProduct)">仅限特殊商品使用</span>
          <span *ngIf="!turnToBind(item.bindProduct)">全品类商品使用</span>
        </span>
        <span style="position: absolute;right: 6px;top: 50%;margin-top: -9px;color: #333333">&times;{{item.useQuantity}}</span>

      </div>
    </div>
    <div class="footer">
      已经到底~
    </div>
  </div>
</div>
