<div class="user-container">
  <div class="top">
    <img style="width: 30px;height: 30px;margin-top: 20px;float: left" src="../../../../assets/icon/dw.png" alt="">
    <div style="margin-top: 15px;float: left">
      <span>收货人：{{receiver}}</span><span style="padding-left: 20px;">手机号：{{phone}}</span>
      <br>
      <span>{{name}}</span>
    </div>
    <img style="width: 30px;height: 30px;float: right;margin-top: 20px" src="../../../../assets/icon/right.png" alt="">
  </div>
  <div class="top">
    <span style="display: block;margin-left: 5px;padding: 5px;"><strong>支付方式</strong></span>
    <div style="margin-left: 10px;">
      <img style="width: 30px;height: 30px;" src="../../../../assets/icon/wechat.png" alt="">
      <span>微信支付</span>
    </div>
  </div>
  <div class="top">
  <span style="display: block;margin-left: 5px;padding: 5px;"><strong>配送方式</strong></span>
  <div style="margin-left: 10px;">
    <nz-radio-group [(ngModel)]="radioValue" (ngModelChange)="print(way.value)" #way>
      <label nz-radio-button nzValue="1">机器自取</label>
      <label nz-radio-button nzValue="2">送货上门</label>
    </nz-radio-group>
  </div>
</div>

  <div class="top" (click)="selectCoupon()">
    <span style="display: block;margin-left: 5px;padding: 5px;"><strong>优惠券</strong></span>
    <div style="margin-left: 10px;">
      <img style="width: 30px;height: 30px;" src="../../../../assets/icon/coupon.png" alt="">
      <span>可用优惠券{{couponLength}}张</span>
    </div>
  </div>
  <nz-modal [(nzVisible)]="isCoupon" nzTitle="请选择优惠券" (nzOnCancel)="CouponCancel()" (nzOnOk)="CouponOk()" style="color: #6c757d">
    <div *ngFor="let item of couponList" style="width: 346px;height: 56px;border-radius: 5px;border: 1px solid #CCCCCC;margin-bottom: 4px;display: flex">
      <div style="flex-direction: column">
        <div style="width: 260px;margin: 2px 0;margin-left: 14px;height: 24px;">
          <h3 style="line-height: 24px;">{{item.name}}</h3>
        </div>
        <div style="width: 260px;margin: 2px 0;margin-left: 14px;height: 24px;text-align: right;">
          <h3 style="line-height: 24px;">优惠:{{item.deductionMoney}}</h3>
        </div>
      </div>
      <div style="flex-direction: column">
        <div style="width: 64px;height: 100%;text-align: center;line-height: 64px;">
          <input type="radio" (click)="choiceCoupon(item.id)" name="coupon" value="option1" aria-label="..." style="width: 18px;height: 18px;">
        </div>
      </div>
    </div>
  </nz-modal>
  <div class="detail">
    <span style="display: block;margin-left: 5px;padding: 5px; border-bottom:2px solid #f5f5f5"><strong>订单信息</strong></span>
    <div class="items" *ngFor="let item of data">
      <img src="{{imgUrl+item.pic}}" class="img">
      <div style="float: left;margin-left: 3%;width: 40%;">
        <h4 class="mult_line_ellipsis">{{item.itemName}}</h4>
        <span style="color: red">￥{{item.price}}</span>
      </div>
      <h4 style="float: right; margin-top: 30px;">x{{item.num}}</h4>
      <div style="clear: both"></div>
    </div>
    <div class="pay-layout">
      <span style="float: left;margin-left: 10px;"><strong>支付金额</strong></span>
      <span style="float: right;margin-right: 10px;">共计{{num}}件商品，总计：<span style="color:red">￥{{toFixed(totalPrice)}}</span></span>
    </div>
    <!--footer-->
    <!--<div class="footer" style="float: left;margin-top: 2px">
    </div>-->
  </div>

  <div class="mask">
  </div>

  <div class="bottom">
    <button (click)="button(1)" class="finish" nz-button nzType="primary">支付</button>
    <!--<button (click)="button(2)" class="cancel ant-button">取消支付</button>-->
    <div style="float: left; margin-left: 10px;">
      <span><strong>实付金额：</strong><span style="color: red">￥{{toFixed(totalPrice)}}</span></span>
      <br>
      <span>(免运费)</span>
    </div>
  </div>
  <div class="footer">
    <img src="" alt="">
    <span></span>
    <span></span>
    <img src="" alt="">
  </div>
</div>
