<div class="user-container">
  <div class="top">
    <img style="width: 30px;height: 30px;margin-top: 20px;float: left" src="../../../../assets/icon/dw.png" alt="">
    <div style="margin-top: 15px;float: left">
      <span>收货人：{{receiver}} 手机号：{{phone}}</span>
      <br>
      <span>{{name}}</span>
    </div>
    <img style="width: 30px;height: 30px;float: right;margin-top: 20px" src="../../../../assets/icon/right.png" alt="">
  </div>
  <div class="top">
    <span style="float: left;margin-left: 10px"><strong>支付方式</strong></span>
    <br>
    <div style="float: left;margin-left: 10px;margin-top: 10px">
      <img style="width: 30px;height: 30px;" src="../../../../assets/icon/wechat.png" alt="">
      <span>微信支付</span>
    </div>
  </div>
  <div class="top">
    <span style="float: left;margin-left: 10px"><strong>优惠券</strong></span>
    <br>
    <div style="float: left;margin-left: 10px;margin-top: 10px">
      <img style="width: 30px;height: 30px;" src="../../../../assets/icon/coupon.png" alt="">
      <span>可用优惠券0张</span>
    </div>
  </div>
  <div class="detail">
    <span style="float: left;margin-left: 10px"><strong>订单信息</strong></span>
    <div class="items" *ngFor="let item of data">
      <img src="{{imgUrl+item.pic}}" class="img">
      <div style="float: left;margin-top: 20px;margin-left: 20px">
        <h4 class="span-text">{{item.itemName}}</h4>
        <h4 class="span-text" style="color: red">￥{{item.price}}</h4>
      </div>
      <h4 style="float: right;margin-top: 40px;margin-right: 20px">x{{item.num}}</h4>
    </div>
    <div class="pay-layout" style="float: left;margin-top: 2px">
      <span style="float: left;margin-left: 10px;margin-top: 5px"><strong>支付金额</strong></span>
      <span style="float: right;margin-right: 10px;margin-top: 5px">共计{{num}}件商品  总计：￥{{totalPrice}}</span>
    </div>
    <!--footer-->
    <div class="footer" style="float: left;margin-top: 2px">
    </div>
  </div>

  <div class="mask">
  </div>

  <div class="bottom">
    <button (click)="button(1)" class="finish" nz-button nzType="primary">支付</button>
    <button (click)="button(2)" class="cancel ant-button">取消支付</button>
    <div style="float: right">
      <span><strong>实付金额:</strong><span style="color: red">￥{{totalPrice}}</span></span>
      <br>
      <span>(免运费)</span>
    </div>
  </div>
  <div class="footer">
    <img src="" alt="">
    <span></span>
    <span></span>
    <img src="" alt="">
  </div>
</div>
