<div style="padding-bottom: 10%">
  <div style="padding-bottom: 10%">
    <div class="title">
      <!--<nz-input id="input"  [nzType]="'search'" [nzPlaceHolder]="'输入售货机编码或者地址'" [(ngModel)]="_value" (nzOnSearch)="onSearch($event)"></nz-input>-->
      <nz-input-group nzSearch [nzSuffix]="suffixIconButton">
        <input type="text" nz-input placeholder="输入订单号或者机器编号进行查询" [(ngModel)]="value">
      </nz-input-group>
      <ng-template #suffixIconButton>
        <button (click)="onSearch()" nz-button nzType="primary" nzSearch><i class="anticon anticon-search"></i>点击搜索</button>
      </ng-template>
    </div>
    <div class="content">
      <nz-table #nzTable [nzPageSize]="10" nzBordered [nzData]="[1]" [nzShowPagination]="false" [nzLoading]="loading">
        <thead nz-thead>
        <tr>
          <th nz-th><span>机器编号</span></th>
          <th style="text-align: center" nz-th><span>交易订单号</span></th>
          <th style="text-align: center;width: 62px" nz-th><span>价格</span></th>
          <th style="text-align: center" nz-th><span>详情</span></th>
        </tr>
        </thead>
        <tbody nz-tbody>
        <tr nz-tbody-tr *ngFor="let item of saleList">
          <!--<tr nz-tbody-tr *ngFor="let data of nzTable.data; index as i;">-->
          <td nz-td>
            <a>{{item.vmCode}}</a>
          </td>
          <td style="text-align: center;word-wrap: break-word;width: 110px" nz-td>{{item.payCode}}</td>
          <td nz-td style="width: 62px">
            <a>{{item.price}}</a>
          </td>
          <td style="text-align: center" nz-td>
            <button style="display: block" (click)="detail(item)" nz-button [nzType]="'primary'">
              <span>详情</span>
            </button>
          </td>
        </tr>
        </tbody>
      </nz-table>
      <nz-modal [nzStyle]="{ top: '20px' }" [(nzVisible)]="isVisible" [nzTitle]="modalTitleSails" [nzContent]="modalContentSails" [nzFooter]="modalFooterSails" (nzOnCancel)="handleCancelSails()">
        <ng-template #modalTitleSails>
          详情
        </ng-template>

        <ng-template #modalContentSails>
          <div class="example" [hidden]="true">
            <nz-spin></nz-spin>
          </div>
          <div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">公司</h4>
              <p class="weui-media-box__desc">{{companyName}}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">交易订单号</h4>
              <p class="weui-media-box__desc">{{payCode}}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">价格</h4>
              <p class="weui-media-box__desc">{{price}}元</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">订单创建日期</h4>
              <p class="weui-media-box__desc">{{toDate(createTime)}}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">内部订单号</h4>
              <p class="weui-media-box__desc">{{ptCode}}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">商品名称</h4>
              <p class="weui-media-box__desc">{{itemName}}</p>
            </div>
            <div class="weui-media-box weui-media-box_text">
              <h4 class="weui-media-box__title">客户手机号</h4>
              <p class="weui-media-box__desc">{{phone}}</p>
            </div>
          </div>
        </ng-template>

        <ng-template #modalFooterSails>
          <button nz-button nzType="primary" (click)="handleOkSails()" [nzLoading]="isConfirmLoadingSails">关闭</button>
        </ng-template>
      </nz-modal>
    </div>
  </div>
</div>
