<div class="user-container">

  <div class="container" style="background-image: url('../../../../assets/icon/12banner.png')">
    <img src="../../../../assets/icon/12bannerB.png" style="width: 100%;display:block;vertical-align: top"
    (click)="goTo('1')">
    <div class="coupon">
      <img src="../../../../assets/icon/12couponA.png" (click)="goTo(couponList[0]['themeUrlOne'])"
           style="width: 45%;height: auto;position: absolute;left: 0;display: inline-block">
      <img src="../../../../assets/icon/12couponB.png" (click)="goTo(couponList[0]['themeUrlTwo'])"
           style="width: 45%;height:auto;position: absolute;right: 0;display: inline-block">
    </div>
  </div>
</div>


