<div class="user-container">
  <div class="header">
    <img class="header-img" src="http://119.23.233.123:6662/ys_admin/files/0.png" alt="">
    <span class="header-span">1234324</span>
  </div>
  <div class="am-list">
    <a class="am-list-item">
      <div class="am-list-content">我的订单</div>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <div class="am-list-body">
      <div class="am-list-item">
        <div class="am-list-content">标题文字</div>
      </div>
    </div>
  </div>
  <div class="am-list">
    <div class="am-list-body">
      <a class="am-list-item">
        <div class="am-list-content">我的套餐</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item">
        <div class="am-list-content">我的优惠卷</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item">
        <div class="am-list-content">我的购物车</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item">
        <div class="am-list-content">我的地址</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item">
        <div class="am-list-content">管理账号</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
    </div>
  </div>
</div>
