<div class="user-container">
  <div class="header">
    <img class="header-img" src="../../../../assets/main/logogaokao.png" alt="">
    <span class="header-span">用户名</span>
  </div>
  <div class="am-list">
    <a class="am-list-item">
      <div (click)="detail(6)" class="am-list-content">余额</div>
      <span style="color: #666666">{{userMoney}}元</span>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div class="am-list-content">我的积分</div>
      <span style="color: #666666">{{userIntegral}}分</span>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div (click)="detail(1)" class="am-list-content">我的订单</div>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <a class="am-list-item">
      <div (click)="detail(5)" class="am-list-content">我的存水</div>
      <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
    </a>
    <!--<div class="am-list-body">-->
      <!--<div class="am-list-item">-->
        <!--<div class="am-list-content">标题文字</div>-->
      <!--</div>-->
    <!--</div>-->
  </div>
  <div class="am-list">
    <div class="am-list-body">
      <!--<a class="am-list-item" (click)="detail(1)">-->
        <!--<div class="am-list-content">我的套餐</div>-->
        <!--<div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>-->
      <!--</a>-->
      <a class="am-list-item" (click)="detail(2)">
        <div class="am-list-content">我的优惠卷</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item" (click)="detail(3)">
        <div class="am-list-content">我的购物车</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <a class="am-list-item" (click)="detail(4)">
        <div class="am-list-content">我的地址</div>
        <div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>
      </a>
      <!--<a class="am-list-item" (click)="detail(5)">-->
        <!--<div class="am-list-content">管理账号</div>-->
        <!--<div class="am-list-arrow" aria-hidden="true"><span class="am-icon arrow horizontal"></span></div>-->
      <!--</a>-->
    </div>
  </div>
</div>
