<div class="user-container">
  <div class="empty-car" [hidden]="!empty">
    <img style="width: 50px;height: 50px;margin-top: 10%" src="../../../../assets/icon/shopcar.png" alt="">
    <p style="color: grey">购物车空空如也,快来挑选好货~</p>
  </div>
  <div class="full-car" [hidden]="empty">
    <div class="items" *ngFor="let item of data">
      <img src="{{imgUrl+item.pic}}" class="img">
      <div style="float: left">
        <h4 class="span-text">{{item.itemName}}</h4>
        <h4 class="span-text">￥{{item.price}}</h4>
      </div>
      <div style="float: right;margin-top: 7%;margin-right: 2%;">
        <a class="edit" (click)="add(item)">+</a>
        <a>{{item.num}}桶</a>
        <a class="edit" (click)="delete(item)">-</a>
      </div>
    </div>

  </div>
  <p style="color: grey;margin-left: 42%;margin-top: 5px;">猜你喜欢</p>
  <div class="gutter-example">
    <div nz-row nzGutter="16">

      <div nz-col class="gutter-row" nzSpan="12" *ngFor="let item of list">
        <div class="gutter-box">
          <img class="box-img" [src]="imgUrl+item.pic" alt="">
        </div>
        <p class="gutter-row-text">{{item.name || '无名字'}}</p>
        <span class="gutter-row-span">￥{{item.salesPrice}}</span>
        <span class="gutter-row-icon"><img width="20px" height="20px" src="../../../../assets/icon/addCar.png" alt=""></span>
      </div>
    </div>
    <div style="width: 100%;height: 105px"></div>
  </div>
  <div class="confirm" [hidden]="empty">
    <span style="float: left;margin-left: 20px;margin-top: 20px">已选({{data.length}})</span>
    <button class="finish" nz-button nzType="primary">下单</button>
    <span style="float: right;margin-top: 20px;margin-right: 5px">￥{{totalPrice}}</span>
  </div>
</div>
