<div class="user-container">
  <div class="empty-car" [hidden]="!empty">
    <img style="width: 50px;height: 50px;margin-top: 10%" src="../../../../assets/icon/shopcar.png" alt="">
    <p style="color: grey">购物车空空如也,快来挑选好货~</p>
  </div>
  <div class="full-car" [hidden]="empty">
    <div style="width: 100%; height: 50px; line-height: 50px;border: 1px solid #e5e5e5;text-align: center;background-color: #fff;">
      <p style="display: inline-block;color: #333;font-size: 18px;">购物车</p>
      <span *ngIf="!editBol" style="display: inline-block;position: absolute;right: 15px;color: #333;font-size: 15px;font-weight: bold;" (click)="editCar()">编辑</span>
      <span *ngIf="editBol" style="display: inline-block;position: absolute;right: 15px;color: #333;font-size: 15px;font-weight: bold;" (click)="editComplete()">完成</span>
    </div>
    <div class="items" *ngFor="let item of data; let i = index;">
      <div style="float: left;height: 100px;padding: 40px 15px;">
        <input type="checkbox" name="checkSingle[]" class="my_checkbox singleCheck" [checked]="item.checked" (click)="checkSingle(item)">
      </div>
      <img src="{{imgUrl+item.pic}}" class="img">
      <div style="float: left">
        <h4 class="span-text" style="width: 100px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">{{item.itemName}}</h4>
        <h4 class="span-text" style="color: red">&yen;{{toFixed(item.price * item.num)}}</h4>
      </div>
      <div style="float: right;margin-top: 12%;margin-right: 5%;">
        <a class="edit" (click)="changeNum(item, -1)">-</a>
        <a style="color: #666;margin-right: 10px;margin-left: 10px">{{item.num}}</a>
        <a class="edit" (click)="changeNum(item, 1)">+</a>
      </div>
    </div>

  </div>
  <p style="width: 100%;text-align: center; color: #666;padding: 10px 5px;border-bottom: 1px solid #e5e5e5;">猜你喜欢</p>
  <div class="gutter-example">
    <div style="width: 100%;">
      <div style="display: inline-block;width: 48%;padding: 10px 10px;text-align: center;" *ngFor="let item of list">
        <img [src]="imgUrl+item.pic" style="width: 100%;height: 140%;display: block;">
        <p style="text-align: left">{{item.name || '无名字'}}}</p>
        <div style="text-align: left;color: #F6151C;" *ngIf="item.isConglomerateCommodity === 0">
          <div style="display: inline-block;width: 48%;text-align: left;">&yen;{{item.salesPrice}}</div>
          <div style="display: inline-block;width: 48%;text-align: right">
            <img (click)="addCar(item)" style="width: 20px;height: 20px;padding: 2px 3px;border-radius: 50%;background-color: #3E85FF" src="../../../../assets/icon/my_car.png">
          </div>
        </div>
        <div style="text-align: left;color: #F6151C;" *ngIf="item.isConglomerateCommodity === 1">
          <div style="display: inline-block;width: 48%;text-align: left;">&yen;{{item.salesPrice}}</div>
          <div style="display: inline-block;width: 48%;text-align: right">
            <img (click)="addCar(item)" style="width: 20px;height: 20px;padding: 2px 3px;border-radius: 50%;background-color: #3E85FF" src="../../../../assets/icon/my_car.png">
          </div>
        </div>
      </div>
    </div>
    <!--<div nz-row>-->
      <!--<div nz-col class="gutter-row" style="margin-bottom: 10px;" nzSpan="12" *ngFor="let item of list">-->
        <!--<div class="gutter-box">-->
          <!--<img [src]="imgUrl+item.pic" style="width: 100%;display: block; height: 140%;">-->
        <!--</div>-->
        <!--<p class="gutter-row-text">{{item.name || '无名字'}}</p>-->
        <!--<div *ngIf="item.isConglomerateCommodity === 0">-->
          <!--<span class="gutter-row-span">&yen;{{item.salesPrice}}</span>-->
          <!--<span class="gutter-row-icon"><img (click)="addCar(item)" style="width: 20px;height: 20px;padding: 2px 3px;border-radius: 50%;background-color: #3E85FF" src="../../../../assets/icon/my_car.png" alt=""></span>-->
        <!--</div>-->
        <!--<div *ngIf="item.isConglomerateCommodity === 1">-->
          <!--<span class="goodsPrice">&yen;{{item.salesPrice}}</span>-->
          <!--<span class="gutter-row-icon" (click)="goTo(item.id, item.name, item.pic)"><img (click)="addCar(item)" width="44px" height="20px" src="../../../../assets/icon/groupIcon.png" alt=""></span>-->
        <!--</div>-->
      <!--</div>-->
      <!--&lt;!&ndash;<div style="width: 100%;height: 105px"></div>&ndash;&gt;-->
    <!--</div>-->
    <div class="confirm" [hidden]="empty">
      <!--<span style="float: left;margin-left: 20px;margin-top: 20px">已选({{data.length}})</span>-->
      <div style="float: left;margin-left: 20px;margin-top: 20px">
        <input type="checkbox" name="checkAll" [checked]="checkAllFlag" class="my_checkbox" id="allCheck" (click)="checkAll()">
        <label for="allCheck">全选</label>
      </div>
      <div *ngIf="!editBol">
        <button (click)="pay()" class="finish" nz-button nzType="primary">去结算</button>
        <span style="float: right;margin-top: 20px;margin-right: 5px;">合计：<span style="color: #6BA5FF">&yen;{{toFixed(totalMoney)}}</span></span>
      </div>
      <div *ngIf="editBol">
        <button (click)="editDelete()" class="finish" nz-button nzType="primary">删除</button>
        <span style="float: right;margin-top: 20px;margin-right: 5px;"></span>
      </div>
    </div>
  </div>
</div>
