<div class="user-container">
  <div class="container">
    <div class="top">
      <h1>{{sumPrice}}</h1>
      <span>今日销量（元）</span>
      <br>
      <span>销售数量：{{sumNum}} 桶</span>
    </div>
    <div class="bottom">
      <div class="left" (click)="left()">
        <h2>补货机器数</h2>
        <p>{{replenishNum}}</p>
      </div>
      <div class="middle">
        <h2>故障机器数</h2>
        <p>{{troubleNum}}</p>
      </div>
      <div class="right" (click)="right()">
        <h2>机器总数</h2>
        <p>{{machinesNum}}</p>
      </div>
    </div>
  </div>
</div>
