<div class="user-container" *ngIf="emptyAddress">
  <div style="margin-top: 20%">
    <div class="am-message result">
      <i class="am-icon result warn"></i>
      <div class="am-message-main">暂时未设置</div>
      <div class="am-message-sub">没有收货地址不能送货上门~</div>
    </div>
    <div class="am-button-wrap">
      <button (click)="addAddress()" class="am-button blue">新增地址</button>
    </div>
  </div>
</div>
<div class="address-container" *ngIf="!emptyAddress">
  <div>
    <div style="width: 100%;height: 120px; margin-bottom: 5px; background: white;padding: 5px">
      <div style="width: 100%;height: 60px;">
        <div style="float: left;">
          <h4>yc</h4>
          <span>123124125</span>
        </div>
        <span style="float: right;">asgfsdfnvgjhsdaghgjhkjlknbmvcx</span>
      </div>
      <hr>
      <div style="width: 100%;height: 30px">
        <div class="am-list-item">
          <h3 style="float: left;margin-top: 5px">默认地址</h3>
          <div  style="float: left" class="am-switch">
            <input type="checkbox" name="s1" class="am-switch-checkbox" (change)="onChecked()"  id="demo-s-2" >
            <label class="am-switch-label" for="demo-s-2">
              <div class="am-switch-inner"></div>
              <div class="am-switch-switch"></div>
            </label>
          </div>
          <p (click)="ok()" class="edit">编辑</p>
        </div>
      </div>
    </div>
    <div style="width: 100%;height: 120px; margin-bottom: 5px; background: white;padding: 5px">
      <div style="width: 100%;height: 60px;">
        <div style="float: left;">
          <h4>yc</h4>
          <span>123124125</span>
        </div>
        <span style="float: right;">asgfsdfnvgjhsdaghgjhkjlknbmvcx</span>
      </div>
      <hr>
      <div style="width: 100%;height: 30px">
        <div class="am-list-item">
          <h3 style="float: left;margin-top: 5px">默认地址</h3>
          <div  style="float: left" class="am-switch">
            <input type="checkbox" name="s1" class="am-switch-checkbox" (change)="onChecked()"  id="demo-s-1" >
            <label class="am-switch-label" for="demo-s-1">
              <div class="am-switch-inner"></div>
              <div class="am-switch-switch"></div>
            </label>
          </div>
          <p (click)="ok()" class="edit">编辑</p>
        </div>
      </div>
    </div>
  </div>
</div>
