<div class="user-container">
  <div class="title">
    <span class="title_l" (click)="goTo()"><i class="anticon anticon-left"></i></span>
    收货地址
    <span class="title_r" (click)="addAddress()">+新增地址</span>
  </div>
  <div class="cont" *ngIf="!emptyAddress">
    <div class="contAll" *ngFor="let item of list;" [hidden]="!list">
      <div class="contIn">
        <div class="contIn_t">
          <span class="contIn_t_name">{{item.receiver}}</span>
          <span class="contTn_t_phone">{{item.phone}}</span>
        </div>
        <div style="font-size: 13px;">{{item.name}}</div>
        <i class="anticon anticon-check contIn_Img" style="font-weight: bold;color: #3399ff" *ngIf="item.defaultFlag === 1"></i>
        <!--<img class="contIn_Img" src="../../../../../assets/icon/addressC.png" *ngIf="item.defaultFlag === 1">-->
      </div>
      <div class="contSet">
        <input type="checkbox" name="default" class="contSet_radio" [id]="('a' + item.id)" (click)="setDefault(item)">
        <!--<img src="../../../../../assets/icon/addressA.png" class="contSet_imgA" *ngIf="item.defaultFlag === 1">-->
        <div class="contSet_imgA" *ngIf="item.defaultFlag === 1">已设置为默认</div>
        <!--<img src="../../../../../assets/icon/addressB.png" class="contSet_imgB" *ngIf="item.defaultFlag === 0">-->
        <div class="contSet_imgB" *ngIf="item.defaultFlag === 0">设置为默认</div>
        <span class="contSet_a" (click)="alterAddress(item)">
          <!--<img src="../../../../../assets/icon/alter.png" class="contSet_d_img">-->
          <i class="anticon anticon-form contSet_d_img"></i>
          <span>编辑</span>
        </span>
        <span class="contSet_d" (click)="delAddress(item)">
          <!--<img src="../../../../../assets/icon/delet.png" class="contSet_d_img" (click)="delAddress(item)">-->
          <i class="anticon anticon-delete contSet_d_img"></i>
          <span>删除</span>
        </span>
      </div>
    </div>
  </div>
  <div *ngIf="emptyAddress" class="cont_none">
    <img src="../../../../../assets/icon/noneAddress.png" style="width: 115px;height: 115px;">
    <div style="color: #666666;margin-top: 10px;">暂无收货地址</div>
    <div style="color: #ADADAD;">您可以新增收货地址以便收货</div>
  </div>
  <nz-modal [(nzVisible)]="isVisible" [nzTitle]="null" [nzContent]="modalContent" [nzFooter]="modalFooter"
            (nzOnCancel)="null">
    <ng-template #modalTitle>

    </ng-template>
    <ng-template #modalContent>
      <div style="width: 100%;text-align: center;">确定要删除该地址吗?</div>
    </ng-template>
    <ng-template #modalFooter>
      <button nz-button nzType="default" (click)="handleCancel()">取消</button>
      <button nz-button nzType="primary" (click)="handleOk()">删除</button>
    </ng-template>
  </nz-modal>

</div>

